.button.small,
.button {
	background-color: rgba(51,51,51,1.0);
	color: #fff;
	display: inline-block;
	font-size: .75em;
	padding: 10px;
	text-transform: uppercase;
	text-decoration: none;
}
.button.small:hover,
.button:hover {
	background-color: rgba(51,51,51,.8);
}

.button.medium {
	font-size: 1em;
	padding: 10px 15px;
}
.button.large {
	font-size: 1.3em;
	padding: 15px 25px;
}
.button.large::after{
	content: '\f101';
	font-family: FontAwesome;
	font-weight: normal;
	padding-left: 7px;
	transition-property: padding-left;
  	transition-duration: 500ms;
  	transition-timing-function: ease-in-out;
}

.button.large:hover:after {
	content: '\f101';
	font-family: FontAwesome;
	font-weight: normal;
	padding-left: 13px;
}
	.button.blue {
		background-color: rgba(4,30,65,1.0);
		color: #fff;
	}
	.button.blue:hover {
		background-color: rgba(4,30,65,.8);
	}
	.button.gold {
		background-color: rgba(245,196,0,1.0);
		border: 1px solid rgba(245,196,0,1.0);
		color: #333;
	}
	.button.gold:hover {
	background-color: rgba(245,196,0,.8);
	border: 1px solid #333;
	color: #333;
	}


.button.small,
.button {
	background-color: rgba(51,51,51,1.0);
	color: #fff;
	display: inline-block;
	font-size: .75em;
	padding: 10px;
	text-transform: uppercase;
	text-decoration: none;
}
.button.small:hover,
.button:hover {
	background-color: rgba(51,51,51,.8);
}

.button.medium {
	font-size: 1em;
	padding: 10px 15px;
}
.button.large {
	font-size: 1.3em;
	padding: 15px 25px;
}
.button.large::after{
	content: '\f101';
	font-family: FontAwesome;
	font-weight: normal;
	padding-left: 7px;
	transition-property: padding-left;
  	transition-duration: 500ms;
  	transition-timing-function: ease-in-out;
}

.button.large:hover:after {
	content: '\f101';
	font-family: FontAwesome;
	font-weight: normal;
	padding-left: 13px;
}
	.button.blue {
		background-color: rgba(4,30,65,1.0);
		color: #fff;
	}
	.button.blue:hover {
		background-color: rgba(4,30,65,.8);
	}
	.button.gold {
		background-color: rgba(245,196,0,1.0);
		border: 1px solid rgba(245,196,0,1.0);
		color: #333;
	}
	.button.gold:hover {
	background-color: rgba(245,196,0,.8);
	border: 1px solid #333;
	color: #333;
	}

/* # Accordion Styling
---------------------------------------------------------------------------------------------------- */

.gb-accordion .ui-accordion-header {
	font-family: Open Sans, sans-serif;
	color:#fff;
	text-transform:uppercase;
	font-weight:600;
	background:#041e41;
	padding:.7em;
	margin: 3px 0 0 0;
	cursor: pointer;
	}

.gb-accordion .ui-accordion-header:before {
	content: '\f067';
	font-family: FontAwesome;
	font-weight: normal;
	margin-right: 15px;
}

.gb-accordion .ui-accordion-header-active:before {
	content: '\f068';
}

.gb-accordion .gb-accordion-content {
	border:1px solid #DFDFD0;
	padding:1em 1em 1em 2.5em;
	}

/* # Accordion Styling
---------------------------------------------------------------------------------------------------- */

.tabs { 
    padding: 0px; 
    background: none; 
    border-width: 0px; 
} 
.#tabs .ui-tabs-nav { 
    padding-left: 0px; 
    background: transparent; 
    border-width: 0px 0px 1px 0px; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
} 
.tabs-nohdr .ui-tabs-panel { 
    background: #f5f3e5 url(http://code.jquery.com/ui/1.8.23/themes/south-street/images/ui-bg_highlight-hard_100_f5f3e5_1x100.png) repeat-x scroll 50% top; 
    border-width: 0px 1px 1px 1px; 
}
